{% extends 'base.html.twig' %}
{% block title %}Back Office
{% endblock %}
{% block body %}
	<div class="container my-4">
		<div class="sword">
			<div class="character character1"></div>
			<div class="character character2"></div>
		</div>
	</div>
{% endblock %}
