{{ form_start(form) }}
		<div class='searchForm'>
			{{ form_widget(form.q) }}
            <button class="btn btn-light my-2 my-sm-0 searchFormBtn" type="submit">Rechercher</button>
		</div>
{{ form_end(form) }}
