body>div.container.my-4>div>div>div>div>table>tbody>tr>td {
    max-width: 25vw;
}

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Akaya Kanadaka', display;
    font-size: 1.2em;
    margin-top: 125px;
}

#navbar {
    background-color: rgba(95, 91, 91, 0.1);
    text-shadow: 2px 2px 4px #000000;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 1s;
   
}

#navbar:hover {
    background-color: rgb(24, 22, 22, 1);
}

.table {

    --bs-table-bg: rgba(0, 0, 0, 0.6);
}

.card {
    --bs-card-bg: rgba(0, 0, 0, 0.6);
}

.otherTableImg {
width: 10vw;
}

.avatar {
    height: 15vh;
    width: 15vh;
    z-index: 9999;
    position: fixed;
    bottom: 0;
}
/*  -------------------------------------------------------- */
.sword{
    position: relative;
    width: 800px;
    height: 400px;
  margin: auto;
    overflow: hidden;
  }
  
  .character {
    position: absolute;
    width: 100px;
    height: 100px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  .character1 {
    top: 200px;
    left: 100px;
    animation-name: character1-animation;
    background-image: url('../images/sword-left.png');
    background-size: cover;
  }
  
  .character2 {
    top: 200px;
    left: 600px;
    animation-name: character2-animation;
    background-image: url('../images/sword-right.png');
    background-size: cover;
    transform: scaleX(-1);
  }
  
  @keyframes character1-animation {
    0% { transform: translateX(0); }
    50% { transform: translateX(200px); }
    100% { transform: translateX(0); }
  }
  
  @keyframes character2-animation {
    0% { transform: translateX(0); }
    50% { transform: translateX(-200px); }
    100% { transform: translateX(0); }
  }
  
  .character:hover {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
  }