body>div.container.my-4>div>div>div>div>table>tbody>tr>td {
    max-width: 25vw;
}

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Akaya Kanadaka', display;
    font-size: 1.2em;
    margin-top: 125px;
}

#navbar {
    background-color: rgba(95, 91, 91, 0.1);
    text-shadow: 2px 2px 4px #000000;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 1s;
   
}

#navbar:hover {
    background-color: rgb(24, 22, 22, 1);
}

.errorPage {
    opacity: 0.5;
}

.errorText {
    text-shadow: 2px 2px 4px #000000;
    color : white;
    font-style: italic;
}

.table {

    --bs-table-bg: rgba(0, 0, 0, 0.6);
}

.card {
    --bs-card-bg: rgba(0, 0, 0, 0.6);
}

.otherTableImg {
width: 10vw;
}

.avatar {
    height: 15vh;
    width: 15vh;
    z-index: 9999;
    position: fixed;
    bottom: 0;
}