.searchForm {
    margin: 0 auto;
    width: 500px;
    transition: 2s;
    opacity: 0.5;
    margin-bottom: 20px;
    margin-top: 20px;
}

.searchForm:hover {
    opacity: 1;
}

.searchPlaceHolder {
    width: 100%;
}

.searchFormBtn {
    width: 100%;
}