<form method="post" action="{{ path('app_effect_delete', {'id': effect.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ effect.id) }}">
	{% set isIndex = (app.request.attributes.get("_route") starts with "app_effect_index") %}
	{% if isIndex %}
		<button class="btn btn-danger float-end m-1 responsiveDisplayOff">Supprimer</button>
	{% else %}
		<button class="btn btn-danger float-end m-1">Supprimer</button>
	{% endif %}
</form>
