{% extends "base.html.twig" %}

{% block body %}
<div class="container my-4">
    <div class="errorText my-5 py-5 text-center">
		<h1 class="fw-bold display-1">Accès refusé</h1>
        <br>
        <div>
        <img src="https://media.giphy.com/media/njYrp176NQsHS/giphy.gif" alt="Gandalf">
        </div>
        <br>
        <div>
            <a class='errorPage btn btn-danger' href="{{ path('app_home') }}">Retour à l'accueil</a>
        </div>
	</div>
</div>
{% endblock %}